* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration:none;
}

html {
    scroll-behavior: smooth;
}
header {
    display: flex;
    background-color: slategray;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
}

nav {
    display: flex;
    color: white;
}
nav a {
    margin-left: 15px;
    color:white;
    position:relative;
}

header nav a:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 1px;
    background: White;
    transition: width 0.5s;
}

header nav a:hover:after{
    width:100%;
}

body {
    Background:silver;
}

#top-section {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin:15px;
}
img {
    border: 10px solid #303030;
    border-radius: 25px;
}
#picture {
    flex: 25%;
    width:150px;

}
.about-me, #work-samples, .contact-me {
    border: 10px solid #303030;
    border-radius: 25px;
    padding:20px;
    margin: 5px;
    background:white;
    color: #303030;
}
.about-me {
    flex:75%;
}
.work {
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly
}

.container {
    display:flex;
    flex: 50%;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin:15px;
}

.contact-me{
    display: flex;
    justify-content: space-evenly;
    color:#303030
}
a {
    color:#303030;
}
footer {
    display: flex;
    justify-content: center;
}